/*-------Floride Theme v0.9.7--------*/

/*-----------Page Variables-----------*/

DT { font-weight: bold; }

body {
	margin: 0%;
	padding:  0;
	border-width: 0;
	border-style: none;
	border-color: inherit;
	width: auto;
}
.pagetable {  
	width: 100%;	/* This will set the overall width of your layout */ 
	cellpadding: 0; 
	cellspacing: 0;
}
.table {  
	width: 100%; 
	border: thin #333333 solid; /* The border around the boxes at the top and bottom */
	border-width: 1px 1px 1px 1px;
	cellpadding: 0; 
	cellspacing: 0;
}

/*----------Title Box Prefs-----------*/
.myheadertable {  
	background-color: #ffffff;
	width: 100%;
	border: thin #336699 solid;
	border-width: 1px 1px 1px 1px;
	cellpadding: 0; 
	cellspacing: 0;
}
.searchbutton {
	background-color: #DDDDDD; /* This will change the color of your search button */
	color: #000000; /* This will change the color of the text on the search button */
	font-family: arial, helvetica, geneva
}
A.helps:link {
	color: #336699;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.helps:visited {
	color: #333333;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.helps:active {
	color: #FF6699;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.helps:hover {
	color: #FF0000;
	font-size: 10pt;
	text-decoration: underline overline;
	font-family: arial, helvetica, geneva
}

/*-----------Navagation Bar Prefs-----------*/
.navbar {  
}
A.nav:link {
	color: #336699;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.nav:visited {
	color: #336699;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.nav:active {
	color: #990000;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.nav:hover {
	color: #990000;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}

/*-----------Banner Prefs-----------*/
.bannertable {  
	background-color: #FFFFFF; 
	width: 100%; 
	border: thin #336699 solid;
	border-width: 1px 1px 1px 1px;
	cellpadding: 0; 
	cellspacing: 0;
}
.bannertext {
	color: #000000;
	font-size: 10pt;
	font-family: arial, helvetica, geneva;
}
.bannertexttitle {
	color: #336699;
	font-weight: bold;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
A.bannerlink:link {
	color: #336699;
	font-size: 8pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.bannerlink:visited {
	color: #336699;
	font-size: 8pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.bannerlink:active {
	color: #336699;
	font-size: 8pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.bannerlink:hover {
	color: #336699;
	font-size: 8pt;
	text-decoration: underline overline;
	font-family: arial, helvetica, geneva
}

/*-----------Menu Prefs-----------*/
.menutable {  
	color: #FFFFFF;
	font-weight: bold;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.menubordercolor {  
	background-color: #336699; 
}
.menubackcolor {  
	background-color: #FFFFFF; 
}
.cathdl {
	color: #ffffff; /* Color of Box Header Text */
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
.cat {
	color: #336699;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}

/*-------Who's Online? Prefs--------*/
A.whomenu:link {
	color: #003399;
	font-weight: bold;
	font-size: 8pt;
	text-decoration: underline;
	font-family: arial, helvetica, geneva
}
A.whomenu:visited {
	color: #003399;
	font-weight: bold;
	font-size: 8pt;
	text-decoration: underline;
	font-family: arial, helvetica, geneva
}
A.whomenu:active {
	color: #003399;
	font-weight: bold;
	font-size: 8pt;
	text-decoration: underline;
	font-family: arial, helvetica, geneva
}
A.whomenu:hover {
	color: #003399;
	font-weight: bold;
	font-size: 8pt;
	text-decoration: underline overline;
	font-family: arial, helvetica, geneva
}
.whocat {
	color: #336699;
	font-weight: bold;
	font-size: 8pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}

/*-----------Poll Prefs-----------*/
.poll {
	color: #000000;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
.votebutton {
	background-color: #DDDDDD; /* This will change the color of your vote button */
	color: #000000; /* This will change the color of the text on the vote button */
	font-family: arial, helvetica, geneva
}
A.polllink:link {
	color: #336699;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.polllink:visited {
	color: #333333;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.polllink:active {
	color: #336699;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.polllink:hover {
	color: #336699;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: underline overline;
	font-family: arial, helvetica, geneva
}

/*-----------Calendar Prefs-----------*/
.calhead {
     color: #000000;
     font-size: 8pt;
     font-family: arial, helvetica, geneva
}
.calbody {
     color: #666666;
     font-size: 8pt;
     font-family: arial, helvetica, geneva
}
.calhigh {
     color: #009900;
     font-weight: bold;
     font-size: 8pt;
     font-family: arial, helvetica, geneva
}
.caltoday {
     color: #336699;
     font-weight: bold;
     font-size: 8pt;
     font-family: arial, helvetica, geneva
}

/*-----------Newsletter Prefs-----------*/
.newsletterbutton {
	background-color: #DDDDDD; /* This will change the color of your submit button */
	color: #000000; /* This will change the color of the text on the submit button */
	font-family: arial, helvetica, geneva
}
.newslettertext {
	color: #000000;
	font-size: 8pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}

/*-----------News Prefs-----------*/
.newstextsmall {
	color: #000000;
	font-size: 8pt;
	font-family: arial, helvetica, geneva
}
.newstexttitle {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.fullnewstitle {
	color: #003399;
	font-weight: bold;
	font-size: 12pt;
	font-family: arial, helvetica, geneva
}
.newssubtitle {
	color: #000000;
	font-size: 8pt;
	font-family: arial, helvetica, geneva
}
.newstextnormal {  
	color: #000000;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.newsfootertext {  
	color: #000000;
	font-size: 8pt;
	font-family: arial, helvetica, geneva
}
.articlecattitle {
	color: #003399;
	font-weight: bold;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.articlecatempty {
	color: #888888;
	font-weight: bold;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.articlecatnormal {
	color: #000000;
	font-weight: bold;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.newsbordercolor {  
	background-color: #333333; 
}
.newsbackcolor {  
	background-color: #FFFFFF; 
}
.commentbordercolor {  
	background-color: #FFFFFF; 
}
.commentbackcolor {  
	background-color: #FFFFFF; 
}
.articlebordercolor {  
	background-color: #FFFFFF; 
}
.articlebackcolor {  
	background-color: #FFFFFF; 
}
.newsheadertable {  
	background-color: #FFFFFF; 
	width: 100%; 
	border: none;
	border-width: 1px 1px 1px 1px;
	cellpadding: 0; 
	cellspacing: 0;
}
.newscontenttable {  
	background-color: #FFFFFF; 
	width: 100%; 
	border: none;
	border-width: 1px 1px 1px 1px;
	cellpadding: 0; 
	cellspacing: 0;
}
.newsfootertable {  
	background-color: #FFFFFF; 
	width: 100%; 
	border: none;
	border-width: 1px 1px 1px 1px;
	cellpadding: 0; 
	cellspacing: 0;
}
A.smallnewslink:link {
	color: #003399;
	font-weight: normal;
	font-size: 8pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.smallnewslink:visited {
	color: #003399;
	font-size: 8pt;
	font-weight: normal;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.smallnewslink:active {
	color: #003399;
	font-weight: normal;
	font-size: 8pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.smallnewslink:hover {
	color: #003399;
	font-weight: normal;
	font-size: 8pt;
	text-decoration: underline overline;
	font-family: arial, helvetica, geneva
}
A.newslink:link {
	color: #003399;
	font-weight: normal;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.newslink:visited {
	color: #003399;
	font-size: 10pt;
	font-weight: normal;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.newslink:active {
	color: #003399;
	font-weight: normal;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.newslink:hover {
	color: #003399;
	font-weight: normal;
	font-size: 10pt;
	text-decoration: underline overline;
	font-family: arial, helvetica, geneva
}
.commenttitleback {  
	background-color: #DDDDDD;
	color: #000000;
	font-weight: bold;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.commentsubtitleback {  
	background-color: #DDDDDD;
	color: #000000;
	font-weight: normal;
	font-size: 8pt;
	font-family: arial, helvetica, geneva
}
A.commentlink:link {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.commentlink:visited {
	color: #FFFFFF;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.commentlink:active {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.commentlink:hover {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: underline overline;
	font-family: arial, helvetica, geneva
}

/*---------Forum Prefs-----------*/
.forumtext {
	color: #000000;
	font-weight: normal;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.forumtextbold {
	color: #000000;
	font-weight: bold;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.forumtitlebackcolor {  
	background-color: #888888; 
}
.boardtitle {  
	background-color: #EEEEEE; 
	color: #000000;
	font-weight: bold;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.forumwindow1 {  
	background-color: #FFFFCC; 
	color: #000000;
	font-weight: normal;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.forumwindow2 {  
	background-color: #FFFFFF; 
	color: #000000;
	font-weight: normal;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.forumwindow3 {  
	background-color: #EEEEEE; 
	color: #000000;
	font-weight: normal;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
A.forumlink:link {
	color: #003399;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.forumlink:visited {
	color: #003399;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.forumlink:active {
	color: #003399;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.forumlink:hover {
	color: #003399;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: underline overline;
	font-family: arial, helvetica, geneva
}
A.forumnav:link {
	color: #003399;
	font-weight: normal;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.forumnav:visited {
	color: #003399;
	font-size: 10pt;
	font-weight: normal;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.forumnav:active {
	color: #003399;
	font-weight: normal;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.forumnav:hover {
	color: #003399;
	font-weight: normal;
	font-size: 10pt;
	text-decoration: underline overline;
	font-family: arial, helvetica, geneva
}

/*-----------Link Prefs-----------*/
A:link {
	color: #336699;
	text-decoration: none;
}
A:visited {
	color: #336699;
	text-decoration: none
}
A:active {
	color: #336699;
	text-decoration: underline
}
A:hover {
	color: #336699;
	text-decoration: underline overline;
}

/*-----------Text Prefs-----------*/
.text {
	color: #000000;
	font-size: 10pt;
	font-family: arial, helvetica, geneva;
}
.textsmall {
	color: #000000;
	font-size: 8pt;
	font-family: arial, helvetica, geneva
}
.texttitle {
	color: #003399;
	font-weight: bold;
	font-size: 12pt;
	font-family: arial, helvetica, geneva
}
.time {
	color: #000000;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}

/*-----------My Content Prefs-----------*/
.mycontenttable {  
	width: 100%; 
	border: thin #000000 solid;
	border-width: 1px 1px 1px 1px;
	cellpadding: 0; 
	cellspacing: 0;
}
.mycontenttext {
	color: #000000;
	font-size: 10pt;
	font-family: arial, helvetica, geneva;
}
.mycontenttexttitle {
	color: #003399;
	font-weight: bold;
	font-size: 12pt;
	font-family: arial, helvetica, geneva
}
A.mycontentlink:link {
	color: #003399;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.mycontentlink:visited {
	color: #003399;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.mycontentlink:active {
	color: #003399;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.mycontentlink:hover {
	color: #003399;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: underline overline;
	font-family: arial, helvetica, geneva
}

/*-----------Helps Nav Prefs-----------*/
.helpsnavtable {  
	background-color: #FFFFFF;
	width: 100%; 
	border: thin #333333 solid;
	border-width: 1px 1px 1px 1px;
	cellpadding: 0; 
	cellspacing: 0;
}
.helpsnavtext {
	color: #000000;
	font-size: 10pt;
	font-family: arial, helvetica, geneva;
}
.helpsnavtexttitle {
	color: #000000;
	font-weight: bold;
	font-size: 12pt;
	font-family: arial, helvetica, geneva
}
A.helpsnavlink:link {
	color: #003399;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.helpsnavlink:visited {
	color: #003399;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.helpsnavlink:active {
	color: #003399;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.helpsnavlink:hover {
	color: #003399;
	font-size: 10pt;
	text-decoration: underline overline;
	font-family: arial, helvetica, geneva
}

/*-----------WebAPP Footer Prefs-----------*/
.webapptext {
	color: #000000;
	font-size: 8pt;
	font-family: arial, helvetica, geneva
}
A.webapplink:link {
	color: #003399;
	font-size: 8pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.webapplink:visited {
	color: #003399;
	font-size: 8pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.webapplink:active {
	color: #003399;
	font-size: 8pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.webapplink:hover {
	color: #003399;
	font-size: 8pt;
	text-decoration: underline overline;
	font-family: arial, helvetica, geneva
}

/*-----------Form Prefs------------*/
.formstexttitle {
	color: #003399;
	font-weight: bold;
	font-size: 12pt;
	font-family: arial, helvetica, geneva
}
.formstextnormal {
	color: #000000;
	font-weight: bold;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.formstext {
	color: #000000;
	font-weight: normal;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.formstextsmall {
	color: #000000;
	font-weight: normal;
	font-size: 8pt;
	font-family: arial, helvetica, geneva
}
.button {
	background-color: #DDDDDD; /* This will change the color of your buttons */
	color: #000000; /* This will change the color of the text on your buttons */
	font-family: arial, helvetica, geneva
}

/*----------Stats Prefs-----------*/
.statstextbold {
	color: #000000;
	font-weight: bold;
	font-size: 10pt;
	font-family: arial, helvetica, geneva;
}
.statstext {
	color: #000000;
	font-weight: normal;
	font-size: 10pt;
	font-family: arial, helvetica, geneva;
}

/*-----------IM Prefs-------------*/
.imtitle {  
	background-color: #EEEEEE; 
	color: #000000;
	font-weight: bold;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.imselected {  
	background-color: #FFFFCE; 
	color: #000000;
	font-weight: normal;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.imwindow1 {  
	background-color: #FFFFFF; 
	color: #000000;
	font-weight: normal;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.imwindow2 {  
	background-color: #EEEEEE; 
	color: #000000;
	font-weight: normal;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}

A.newimlink:link {
	color: #003399;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.newimlink:visited {
	color: #003399;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.newimlink:active {
	color: #003399;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.newimlink:hover {
	color: #003399;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: underline overline;
	font-family: arial, helvetica, geneva
}
A.oldimlink:link {
	color: #003399;
	font-weight: normal;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.oldimlink:visited {
	color: #003399;
	font-size: 10pt;
	font-weight: normal;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.oldimlink:active {
	color: #003399;
	font-weight: normal;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.oldimlink:hover {
	color: #003399;
	font-weight: normal;
	font-size: 10pt;
	text-decoration: underline overline;
	font-family: arial, helvetica, geneva
}

/*-----------Box Heading Prefs-----*/
A.boxlink:link {
	color: #ffffff;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.boxlink:visited {
	color: #ffffff;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.boxlink:active {
	color: #336699;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.boxlink:hover {
	color: #336699;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: underline;
	font-family: arial, helvetica, geneva
}

/*-----------Other Prefs-----------*/

TD {
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
P {
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}

A.doxy_qindex { font-family: arial, helvetica, geneva }
A.doxy_qindexRef {}
A.doxy_el { text-decoration: none; font-weight: bold }
A.doxy_elRef { font-weight: bold; }
A.doxy_code { text-decoration: none; font-weight: normal; color: #4444ee; }
A.doxy_codeRef { font-weight: normal; color: #4444ee;}
DL.doxy_el { margin-left: -1cm }
DIV.doxy_fragment { width: 100%; border: none; background-color: #eeeeee }
DIV.doxy_ah { background-color: black; font-weight: bold; color: #ffffff; margin-bottom: 3px; margin-top: 3px }
TD.doxy_md { background-color: #f2f2ff; font-weight: bold; }
TD.doxy_mdname1 { background-color: #f2f2ff; font-weight: bold; color: #602020; }
TD.doxy_mdname { background-color: #f2f2ff; font-weight: bold; color: #602020;  }
DIV.doxy_groupHeader { margin-left: 16px; margin-top: 12px; margin-bottom: 6px; font-weight: bold }
DIV.doxy_groupText { margin-left: 16px; font-style: italic; font-size: smaller }
TD.doxy_indexkey { 
   background-color: #eeeeff; 
   font-weight: bold; 
   padding-right  : 10px; 
   padding-top    : 2px; 
   padding-left   : 10px; 
   padding-bottom : 2px; 
   margin-left    : 0px; 
   margin-right   : 0px; 
   margin-top     : 2px; 
   margin-bottom  : 2px  
}
TD.doxy_indexvalue { 
   background-color: #eeeeff; 
   font-style: italic; 
   padding-right  : 10px; 
   padding-top    : 2px; 
   padding-left   : 10px; 
   padding-bottom : 2px; 
   margin-left    : 0px; 
   margin-right   : 0px; 
   margin-top     : 2px; 
   margin-bottom  : 2px  
}
span.doxy_keyword       { color: #008000 }
span.doxy_keywordtype   { color: #604020 }
span.doxy_keywordflow   { color: #e08000 }
span.doxy_comment       { color: #800000 }
span.doxy_preprocessor  { color: #806020 }
span.doxy_stringliteral { color: #002080 }
span.doxy_charliteral   { color: #008080 }
